body{
    background-color:red;
    font-family: 'Spectral SC', serif;
}
h1{
    
    color: #ead2ac;
}

header{
    background-color: #011627;
    text-align: center;
    padding:20px 0px 0px 0px;
}
h2{
    color: #ead2ac;
}

div{
    text-align: center;
}
.inline{
    display: inline;
    padding:0px 10px 0px 10px;
}
a{
    color: white;
}
ul{
    padding: 10px;
}